<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051900117757-79mb3krjedvcarql3guptkorl2vmnfrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051900117757-79mb3krjedvcarql3guptkorl2vmnfrk</string>
	<key>API_KEY</key>
	<string>AIzaSyCQLWy8thyjgEBOYuS5A-gxa4oSwxiqN0M</string>
	<key>GCM_SENDER_ID</key>
	<string>1051900117757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sookmyung.thirty</string>
	<key>PROJECT_ID</key>
	<string>thirty-a5e35</string>
	<key>STORAGE_BUCKET</key>
	<string>thirty-a5e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051900117757:ios:0ebd74fec2662a1618b494</string>
</dict>
</plist>